.lpc-customizer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.lpc-form-container {
    flex: 1;
    margin-right: 20px;
}
.lpc-preview-background {
     background-color: #fff; /* Set a desired background color */
     width: 400px;  /* Set the desired width */
     height: 300px; /* Set the desired height */
     /* Add other styles as needed (padding, border, etc.) */
 }
